.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.btn {
    background: #3179b8;
}

.todoitem {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

.todolist {
    margin-top: 20px;
}

.todoitem.completed {
    background-color: #f2f2f2;
    text-decoration: line-through;
}

.todoitem input[type="text"] {
    width: 70%;
    margin-right: 10px;
}